.color_black
{
	background-color:#000;
}

.color_white
{
	background-color:#fff;
}

.color_light_gray
{
	background-color:#eee;
}

.color_gray
{
	background-color:#ddd;
}

.color_notice
{
	color:#080;
}

