.top_margin_32{
	margin-top:32px;
}

.top_margin_24{
	margin-top:24px;
}

.top_margin_16{
	margin-top:16px;
}

.top_margin_12{
	margin-top:12px;
}

.top_margin_10{
	margin-top:10px;
}

.top_margin_8{
	margin-top:8px;
}

.top_margin_6{
	margin-top:6px;
}

.top_margin_4{
	margin-top:4px;
}

.bottom_margin_32{
	margin-bottom:32px;
}

.bottom_margin_24{
	margin-bottom:24px;
}

.bottom_margin_16{
	margin-bottom:16px;
}

.bottom_margin_12{
	margin-bottom:12px;
}

.bottom_margin_8{
	margin-bottom:8px;
}

.bottom_margin_6{
	margin-bottom:6px;
}

.bottom_margin_4{
	margin-bottom:4px;
}

.height_24{
	min-height:24px;
}

.height_32{
	min-height:32px;
}

.height_168{
	min-height:168px;
}

.round_corners {
	-moz-border-radius: 5px;
	border-radius: 5px;
}
