.background_grid {
	background-image:url('../images/background_grid.png');
}

.image_fix{ 
	background-color:transparent; 
	margin:0px 0px -3px 0px;
	font-size: 0px;
	
	
}

a:hover .transparent_on_hover{ 
	background-color:#e1e0e0; 
	font-size: 0px;
	
	width: 100%;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;

}

.background_image{
	background-image: url("../images/back.jpg");
	background-repeat: repeat-x;
}

