body {
	font: 11px Times Arial, Helvetica, sans-serif;
	color:#666;
	margin-top:0px;

}


a{
/*	text-decoration:underline;*/
	text-decoration:none; 
	color:#444;
/*	background:#e8e8e8;*/
}

a:focus {
	outline: 0px none;
	color:#00cf00;

}

a:visited { 
	color: #666; 
}

a:hover { 
	color: #00cf00; 
/*	background-color:#333; */
}

strong{
	color:#444;
}


p{
	font: 11px Times Arial, Helvetica, sans-serif;
	color:#444;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Times New Roman', Times, serif;
	font-weight:lighter;
	color:#444;
	margin-top:0px;
}

h1 {
	font-size: 25px;
	margin-bottom: 10px;
}

h2 {
	font-size: 23px;
	margin-bottom: 9px;
}

h3 {
	font-size: 19px;
	margin-bottom:8px;
}

h4 {
	font-size: 16px;
	margin-bottom: 6px;
}

h5 {
	font-size: 14px;
	margin-bottom: 4px;
}

h6 {
	font-size: 12px;
	margin-bottom: 2px;
	font-style:normal;
}


ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

li {
	margin-left: 8px;
}

dl,
ol,
ul,
pre,
table,
address,
fieldset {
	margin-bottom: 20px;
}

.text_right
{
	text-align:right;
}


.text_center
{
	text-align:center;
}

.text_highlight{
	color:#0a0;
}

.text_dark a{
	color:#444;
}

.text_small{
	font-size:0.95em;
}

.text_upper_case{
	text-transform:uppercase;
}

.underline{
	text-decoration:underline;
}

.no_underline{
	text-decoration:none;
}

.inline{
	display:inline;
}

.note{
	font: 12px/1.5 Times,'New Roman', Georgia, serif;
	font-style:italic;
}

.margin_left_4{
	margin-left:4px;
}


.text_right{
	text-align:right;
}

.text_center{
	text-align:center;
}

.text_left{
	text-align:left;
}







