<div class="grid_12 height_32 color_white text_center">
	<div class="top_margin_10">
 		contact: info@pixelanddot.com | skype: synthmax | phone +45 2726 8503 | ©2011 all rights reserved
	</div>

</div>