<div class="grid_12">
	<h1><%= t('page.edit_page')%></h1>
		
	<div class="grid_6 suffix_6 alpha omega">
		<%= render 'form' %>
	</div>
	<div class="grid_6 suffix_6 alpha omega text_right">
		<hr/>
		<%= link_to t('admin.show'), @page %> |
		<%= link_to t('navigation.back'), :back %>
	</div>

</div>








